JarsiDemo/WebContent/wsdl/ChangeRolesofUser.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://Main" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://Main" xmlns:intf="http://Main" xmlns:tns1="http://client.http.apache.org" xmlns:tns2="http://biff.read.jxl" xmlns:tns3="http://jxl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://Main" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://client.http.apache.org"/>
   <import namespace="http://jxl"/>
   <import namespace="http://biff.read.jxl"/>
   <element name="main">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="args" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="mainResponse">
    <complexType/>
   </element>
   <element name="fault" type="xsd:anyType"/>
   <element name="fault1" type="tns2:BiffException"/>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://jxl" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://client.http.apache.org"/>
   <import namespace="http://biff.read.jxl"/>
   <complexType name="JXLException">
    <sequence/>
   </complexType>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://biff.read.jxl" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://client.http.apache.org"/>
   <import namespace="http://jxl"/>
   <complexType name="BiffException">
    <complexContent>
     <extension base="tns3:JXLException">
      <sequence/>
     </extension>
    </complexContent>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="BiffException">

      <wsdl:part element="impl:fault1" name="fault">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="ClientProtocolException">

      <wsdl:part element="impl:fault" name="fault">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="mainRequest">

      <wsdl:part element="impl:main" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="mainResponse">

      <wsdl:part element="impl:mainResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="ChangeRolesofUser">

      <wsdl:operation name="main">

         <wsdl:input message="impl:mainRequest" name="mainRequest">

       </wsdl:input>

         <wsdl:output message="impl:mainResponse" name="mainResponse">

       </wsdl:output>

         <wsdl:fault message="impl:BiffException" name="BiffException">

       </wsdl:fault>

         <wsdl:fault message="impl:ClientProtocolException" name="ClientProtocolException">

       </wsdl:fault>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="ChangeRolesofUserSoapBinding" type="impl:ChangeRolesofUser">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="main">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="mainRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="mainResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="BiffException">

            <wsdlsoap:fault name="BiffException" use="literal"/>

         </wsdl:fault>

         <wsdl:fault name="ClientProtocolException">

            <wsdlsoap:fault name="ClientProtocolException" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="ChangeRolesofUserService">

      <wsdl:port binding="impl:ChangeRolesofUserSoapBinding" name="ChangeRolesofUser">

         <wsdlsoap:address location="http://localhost:8080/JarsiDemo/services/ChangeRolesofUser"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
